<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Ticket Number</th>
      <th>Ticket Type</th>
      <th>Ticket Title</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @tickets.each do |ticket| %>
    <tr>
      <td><%= ticket.id %></td>
      <td><%= @ticket_types[ticket.ticket_type_id] || "Unknown Type" %></td>
      <td><%= ticket.title %></td>
      <td>
        <%= button_to "View Ticket", ticket, class: "btn btn-primary me-2 float-start" %>
        <%= button_to "Delete ticket", ticket, method: :delete, class: "btn btn-danger float-start" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
