<%= form_with(model: ticket) do |form| %>
  <% if ticket.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
        <% ticket.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row align-items-start p-4 border">
      <div class="col p-1">
        <div class="float-start me-1">
          <%= form.label :title %>
        </div>
        <div class="float-start w-75">
          <%= form.text_field :title, class:"form-control" %>
        </div>
      </div>
      <div class="col p-1">
        <div class="float-start me-1">
          <%= form.label :ticket_type_id %>
        </div>
        <div class="float-start w-75">
          <%= form.select :ticket_type_id, options_from_collection_for_select(@ticket_type, "id", "type_name"), { include_blank: "--SELECT--" }, { class: "form-control" } %>
        </div>
      </div>
    </div>
    <div class="row p-4 border">
      <div class="col p-1">
        <%= form.label :body %>
        <%= form.textarea :body, class: "form-control", rows: "8" %>
      </div>
    </div>
    <div class="row p-4">
      <%= form.submit(class: "btn btn-primary", style: "width: 150px") %>
    </div>
  </div>
<% end %>
